.player-view-header h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 12px;
  word-wrap: normal;
  text-align: center;
}

.player-view-main {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f5ff;

}
