.lobby-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-header {
  margin-top: 1em;
  /* min-width: 406px; */
  /* min-width: 437px;
  max-width: 750px; */
  width: 70%;
}

.lobby-header h1 {
  margin-bottom: 15px;
}

.settings-header h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 12px;
}

.player-view-header h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 12px;
  word-wrap: normal;
  text-align: center;
}

.game-settings-main {
  height: 600px;
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player-view-main {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f5ff;

}
