.welcome-main {
  height: 100vh;
  width: 100vw;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin: 0;
  font-weight: 900;
  font-style: italic;
  font-size: 83px;
  margin-bottom: 12px;
}

.tri-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

[alt="tri"] {
  height: 223px;
  position: absolute;
  padding-bottom: 35px;
}

.how-to h2 {
  /* margin-left: 5px; */
  margin: 5px, 0, 5px, 0;
  padding: 12px;
}

#enter-username {
  /* background-color: red; */
}

#enter-username-label {
  color: #666666 !important;
  font-size: 16px !important;
  border-radius: 0;
  text-align: start;
  background-color: transparent;
  width: 100%;
}
