.welcome-main {
  margin: 1em;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin: 0;
  font-weight: 900;
  font-style: italic;
  font-size: 83px;
  margin-bottom: 12px;
}

.tri-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

[alt="tri"] {
  height: 223px;
  position: absolute;
  padding-bottom: 35px;
}

.how-to h2 {
  margin-left: 5px;
  padding: 12px;
}