.game-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  width: 98%;
  height: 45px;
  margin-top: 3px;
}

.game-board-main {
  background-color: #f0f2ff;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.game-board-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 476px;
  padding-left: 15px;
  padding-right: 15px;
}

.game-board-inner-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alpha-row {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 0;
}

.alpha-item h2 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.clock {
  width: fit-content;
  margin-bottom: 28px;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.Red {
  color: red;
}

.Green {
  color: green;
}
