.game-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board-main {
  width: 100%;
  height: 530px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
}
.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-top: 4px;
  width: 98%;
  height: 45px;
}

.category-header {
  width: 195px;
  display: flex;
  align-items: flex-end;
}
.subcategory-header {
  width: 230px;
}

.game-board-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.game-board-inner-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.round-box > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.alpha-row {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.alpha-row.results {
  width: 100%;
}
.alpha-row.game {
  width: fit-content;
}

.alpha2.results {
  width: 90%;
}

.alpha-item h2 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.alpha-item.results-phase {
  display: inline-block;
  width: 100%;
}

.clock {
  width: fit-content;
  margin-bottom: 9px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podium-inner {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
  padding-left: 15px;
  padding-right: 15px;
}

.status-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-list {
  list-style-type: none;
  padding-left: 10px;
  height: 100%;
}

.podium-list-item {
  border: "1px solid black";
  overflow: "hidden";
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.podium-list-withpoint {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange;
}
