.game-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  width: 98%;
  height: 45px;
  margin-top: 3px;
}

.game-board-main {
  background-color: #f0f2ff;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.game-board-inner {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
  padding-left: 15px;
  padding-right: 15px;
}

.game-board-inner-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.alpha-row {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  /* width: fit-content; */
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.alpha-row.results {
  width: 100%;
}
.alpha-row.game {
  width: fit-content;
}


.alpha2.results {
  width: 90%;
}

.alpha-item h2 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.alpha-item.results-phase {
  display: inline-block;
  width: 100%;
}

.clock {
  width: fit-content;
  margin-bottom: 28px;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.chat-list {
  list-style-type: none;
  padding-left: 10px;
  height: 100%;
}

.Red {
  color: red;
}

.Green {
  color: green;
}
